<h1>Edit Power</h1>

<% if @power.errors.any? %>
    <ul>
        <% @power.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for @power do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <br>
    <%= f.label :description %><br>
    <%= f.text_area :description %><br>
    <br>
    <%= f.label :heroines %><br>
    <% @heroines.each do |heroine| %>
        <%= check_box_tag 'power[heroine_ids][]',  heroine.id %><%= heroine.name %><br>
    <% end %><br><br>
    <%= f.submit %>
<% end %>