<h1>A new hero, I see</h1>
<% if @heroine.errors.any? %>
    <% @heroine.errors.full_messages.each do |message| %>\
        <h3><%= message %></h3>
    <% end %>
<% end %>

<%=form_for(@heroine) do |f| %>
   
    <%= f.label :Name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :Super_Name %><br>
    <%= f.text_field :super_name %><br>
    <%= f.label :Super_Power %><br>
    <%= f.collection_select(:power_id, @powers, :id, :name, {:selected => @heroine.power_ids}) %><br>
    <%= f.submit %>
<% end %>
